<h3>Skills
 <img src="/assets/Sword-Right.svg" class="sectionSword"/></h3>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% @equipments.each do |equipment| %>
  <tr>
    <td><%= equipment.title %></td>
  </tr>
  <tr>
    <td colspan="7" class="goLeft"><b>Description:</b><%= equipment.description %><hr/></td>
  </tr
<% end %>
</table>
