<h1>New Racial Attribute</h1>

<%= render 'form' %>

<%= link_to 'Back', racial_attributes_path(:character_id => params[:character_id]), :class => 'ajaxRacialAttributeLink' %>
<%= render '/layouts/ajaxify_links' %>
