// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sheetSection {
   vertical-align: top;
}

.groupLeft {
  float: left;
  border-width: 0px;
  border-right-width: .2em;
  border-style: solid;
  padding: .2em;


}

.attribute {
  size: 2.2em;
  width:  2.2em;
  max-width: 2.2em;
}

#editHolder {
  border-width: .2em;
  border-style: solid;
  border-color: Black;
  position: absolute;
  display: none;
  padding: 1em;
  background-color: White;
}
