<h1>Editing class_attribute</h1>

<%= render 'form' %>

<%= link_to 'Show', @class_attribute, :class => 'ajaxLink' %> |
<%= link_to 'Back', class_attributes_path(:character_id => @class_attribute.character_id), :class => 'ajaxLink' %>
<%= render '/layouts/ajaxify_links' %>
