<h1>New class_attribute</h1>

<%= render 'form' %>

<%= link_to 'Back', class_attributes_path(:character_id => params[:character_id]), :class => 'ajaxClassAttributeLink' %>
<%= render '/layouts/ajaxify_links' %>
