<!DOCTYPE html>
<html>
<head>
  <title>Dnd5</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="menuHolder">
  <a href="/skills" class="ajaxLink">Skills</a> |
  <a href="/feats" class="ajaxLink">Feats</a> |
  <a href="/spells" class="ajaxLink">Spells</a> |
  <a href="/classes" class="ajaxLink">Classes</a> |
  <a href="/races" class="ajaxLink">Races</a> |
</div>
<div id="editHolder">
  <%= yield %>

  <script>
    setHolder('#editHolder');
    ajaxifyLinks('.ajaxLink','#editHolder');
  </script>
</div>
</body>
</html>
